<p>second works!</p>
<a [routerLink]="['/']" routerLinkActive="router-link-active">
  Go to First Component
</a>

<br />
<label for="color"
  >Color<br />
  <input type="text" [formControl]="color" />
</label>

<label for="name"
  ><br />Name: <br />
  <input type="text" [formControl]="name" />
</label>

<p>{{ color.value }}</p>
<p>{{ name.value }}</p>

<h1>Template Driven Form:</h1>

<input type="text" [(ngModel)]="username" />

<p>{{ username }}</p>

<h1>On Action:</h1>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="rank" /><br />
  <input type="text" formControlName="salary" />
  <button type="submit">Submit</button>
</form>

<p>
  {{ myForm.value | json }}
  Rank: {{ myForm.value.rank }} Salary: {{ myForm.value.salary }}
</p>

<h1>Template driven Form Validation</h1>

<input
  type="text"
  name="rank"
  #rank="ngModel"
  [(ngModel)]="employee.rank"
  minlength="3"
  maxlength="6"
  required
/>

<div *ngIf="rank.invalid && (rank.dirty || rank.touched)" class="alert">
  <div *ngIf="rank.errors?.['required']">Rank required</div>
  <div *ngIf="rank.errors?.['minlength']">Use at least 3 characters</div>
  <div *ngIf="rank.errors?.['maxlength']">Use at most 6 characters</div>
</div>

{{ employee.rank }}
