<h1 *ngIf="title">
  {{ title }}
  <p>NGGGG</p>
</h1>

<ul *ngFor="let product of products">
  <li>
    {{ product }}
  </li>
</ul>

<h1>
  Sum is:<span>{{ sum(6, 90) }}</span>
</h1>

<p>{{ viaService("Angular") }}</p>

<nav>
  <ul>
    <li>
      <a [routerLink]="['/fa']" routerLinkActive="router-link-active"
        >Child A
      </a>
    </li>
    <li>
      <a [routerLink]="['/fb']" routerLinkActive="router-link-active"
        >Child B
      </a>
    </li>
  </ul>
</nav>

<a [routerLink]="['/s']" routerLinkActive="router-link-active">
  Go to Second Component
</a>

<router-outlet></router-outlet>
